body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace;
}

.card {
    position: absolute;
    top: 30%;
    left: 30%;
    background: rgba(88, 48, 2, 0.808);
    padding: 2em;
    border-radius: 5%;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    animation: fadeIn linear 0.5s;

}

.search {
    display: flex;
    position: absolute;
    top: 15%;
    left: 42%;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    width: calc(100% - 80px);
    height: 25px;
    border: none;
    border-radius: 10px;
    background: rgba(198, 208, 149, 0.953);
    font-size: 15px;
    color: rgb(97, 57, 4);
    padding: 10px 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.search-btn {
    margin: 10px;
    border-radius: 50%;
    background: rgb(187, 145, 91);
    color: rgb(105, 64, 4);
    border: none;
    font-size: 15px;
    padding: 5px 0px 5px;
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

button:hover {
    color: rgb(199, 218, 170);
    background: rgb(198, 142, 131);
}

h2.city {
    color: rgb(210, 162, 104);
    animation: fadeIn linear 1s;
    margin: 0;
}

h1.temp {
    position: absolute;
    top: 33%;
    left: 70%;
    color: rgb(163, 196, 74);
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    animation: fadeIn linear 4s;

}

.flex {
    display: flex;
    align-items: center;
    animation: fadeIn linear 1.8s;
}

.description {
    color: rgb(141, 128, 66);
    text-transform: capitalize;
    margin-right: 5px;
}

.humidity {
    animation: fadeIn linear 2.5s;
}

.wind {
    animation: fadeIn linear 3s;
    margin-top: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.hidden {
    display: none;
}

.weather {
    margin: 5px;
    position: relative;
    color: rgb(245, 215, 122);
    margin: 0;

}